In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io

## Load the customer sales dataset

In [8]:
# Load the customer dataset
file_path = "data/Customer_sales.csv"
df_customer_sales = pd.read_csv(file_path,dtype={"BillPostalCode":"string"} )
df_customer_sales

,CustomerID,BillPostalCode,BillStateProvCode,BillCountryCode,LOB,Market,ChannelOrderID,OrderDate,Quantity,UnitPrice,Total,SKU,Title,Brand
0,10012,49649,MI,US,Salvage,eBay,4468548,2021-04-29,1,25.00,25.00,883562,Can-Am Commander 1000 XT 14 Fender Left Front ...,Can-Am
1,10012,49649,MI,US,Salvage,eBay,4468548,2021-04-29,1,45.00,45.00,983570,Can-Am Commander 800R XT 12 Fender Right Front...,Can-Am
2,10012,49649,MI,US,Salvage,eBay,4468639,2021-04-29,1,31.99,31.99,1219950,Can-Am Commander 1000 XT 14 Fender Flare Left ...,Can-Am
3,10012,49649,MI,US,Salvage,eBay,4471261,2021-04-30,1,19.99,19.99,1054150,Can-Am Commander 1000 XT 11 Lateral Panel Righ...,Can-Am
4,24012,68713,NE,US,Salvage,Website,4758999,2021-09-07,1,69.99,69.99,1302547,Polaris Sportsman 90 02 Footrest Left 0450616 ...,Polaris
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238353,375213012,68701,NE,US,Salvage,Website,5623912,2023-01-25,1,25.00,25.00,Custom,1 tire from rack,Other-Brand
238354,375214012,70094,LA,US,Salvage,eBay,5623899,2023-01-25,1,60.00,60.00,1412157,Honda Foreman 400 FW 98 Recoil Starter 28400-H...,Honda
238355,375215012,77990,TX,US,Salvage,eBay,5623884,2023-01-25,1,16.99,16.99,1485347,Suzuki Vinson 500 03 Battery Positive Cable 33...,Suzuki
238356,375216012,42437,KY,US,NOS-Rebuilt-Parts,Website,5623898,2023-01-25,1,24.94,24.94,PSN-3022897,Polaris General RZR ACE Ranger 900 1000 XP Tur...,Polaris
238357,375217012,36116,AL,US,Salvage,Website,5623885,2023-01-25,1,9.99,9.99,1573174,Honda Recon 250 TM 02 Ignition Coil 30510-HN6-...,Honda

In [9]:
# Drop columns related to orders
df_customer_sales = df_customer_sales[['CustomerID', 'BillPostalCode', 'BillStateProvCode']]
df_customer_sales

        CustomerID BillPostalCode BillStateProvCode
0            10012          49649                MI
1            10012          49649                MI
2            10012          49649                MI
3            10012          49649                MI
4            24012          68713                NE
...            ...            ...               ...
238353   375213012          68701                NE
238354   375214012          70094                LA
238355   375215012          77990                TX
238356   375216012          42437                KY
238357   375217012          36116                AL

[238358 rows x 3 columns]

In [10]:
# Get rid of duplicates
df_customers = df_customer_sales.drop_duplicates()
df_customers

        CustomerID BillPostalCode BillStateProvCode
0            10012          49649                MI
4            24012          68713                NE
16           36012          54460                WI
23           48012          91331                CA
95           49012          52070                IA
...            ...            ...               ...
238353   375213012          68701                NE
238354   375214012          70094                LA
238355   375215012          77990                TX
238356   375216012          42437                KY
238357   375217012          36116                AL

[141461 rows x 3 columns]

In [11]:
# Rename column titles
df_customers= df_customers.rename(columns={'BillPostalCode': 'ZipCode', 'BillStateProvCode': 'State'})
df_customers.head(5)

    CustomerID ZipCode State
0        10012   49649    MI
4        24012   68713    NE
16       36012   54460    WI
23       48012   91331    CA
95       49012   52070    IA

In [12]:
# Output to CSV file
df_customers.to_csv('data/Customers.csv', index=False)