In [43]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io

## Load Brand CSV File and Merge to Customer Master

In [44]:
# Load the customer dataset
file_path = "data/Customers.csv"
df_customers = pd.read_csv(file_path,dtype={"ZipCode":"string"} )
df_customers

        CustomerID ZipCode State
0            10012   49649    MI
1            24012   68713    NE
2            36012   54460    WI
3            48012   91331    CA
4            49012   52070    IA
...            ...     ...   ...
141456   375213012   68701    NE
141457   375214012   70094    LA
141458   375215012   77990    TX
141459   375216012   42437    KY
141460   375217012   36116    AL

[141461 rows x 3 columns]

In [45]:
# Load the customer brand dataset
file_path = "data/Customer_brands.csv"
df_customer_brands = pd.read_csv(file_path)
df_customer_brands

,CustomerID,ArticCat_Tot,Bobcat_Tot,Can-Am_Tot,Honda_Tot,John-Deere_Tot,Kawasaki_Tot,Kubota_Tot,Other-Brand_Tot,Polaris_Tot,Suzuki_Tot,Yamaha_Tot
0,10012,0.0,0.0,121.98,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
1,24012,0.0,0.0,590.97,139.99,0.00,0.00,0.0,0.00,402.68,0.00,18.93
2,36012,0.0,0.0,0.00,0.00,0.00,124.99,0.0,19.99,123.85,0.00,0.00
3,48012,0.0,0.0,499.93,1595.25,49.99,669.89,0.0,0.00,2629.71,44.99,1525.10
4,49012,0.0,0.0,0.00,0.00,0.00,655.94,0.0,0.00,1664.53,199.99,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
141456,375213012,0.0,0.0,0.00,0.00,0.00,0.00,0.0,25.00,0.00,0.00,0.00
141457,375214012,0.0,0.0,0.00,60.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
141458,375215012,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,16.99,0.00
141459,375216012,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.00,24.94,0.00,0.00
141460,375217012,0.0,0.0,0.00,9.99,0.00,0.00,0.0,0.00,0.00,0.00,0.00

In [46]:
df_customer_data  = pd.merge(df_customers, df_customer_brands, left_on='CustomerID', right_on='CustomerID')
df_customer_data

,CustomerID,ZipCode,State,ArticCat_Tot,Bobcat_Tot,Can-Am_Tot,Honda_Tot,John-Deere_Tot,Kawasaki_Tot,Kubota_Tot,Other-Brand_Tot,Polaris_Tot,Suzuki_Tot,Yamaha_Tot
0,10012,49649,MI,0.0,0.0,121.98,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
1,24012,68713,NE,0.0,0.0,590.97,139.99,0.00,0.00,0.0,0.00,402.68,0.00,18.93
2,36012,54460,WI,0.0,0.0,0.00,0.00,0.00,124.99,0.0,19.99,123.85,0.00,0.00
3,48012,91331,CA,0.0,0.0,499.93,1595.25,49.99,669.89,0.0,0.00,2629.71,44.99,1525.10
4,49012,52070,IA,0.0,0.0,0.00,0.00,0.00,655.94,0.0,0.00,1664.53,199.99,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141456,375213012,68701,NE,0.0,0.0,0.00,0.00,0.00,0.00,0.0,25.00,0.00,0.00,0.00
141457,375214012,70094,LA,0.0,0.0,0.00,60.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
141458,375215012,77990,TX,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,16.99,0.00
141459,375216012,42437,KY,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.00,24.94,0.00,0.00
141460,375217012,36116,AL,0.0,0.0,0.00,9.99,0.00,0.00,0.0,0.00,0.00,0.00,0.00

## Load LOB CSV File and Merge to Customer Master

In [47]:
# Load the customer lob dataset
file_path = "data/Customer_lob.csv"
df_customer_lobs = pd.read_csv(file_path )
df_customer_lobs

,CustomerID,LOB_Misc_Tot,LOB_NOS-Rebuilt-Part_Tot,LOB_Rebuilt-Engines-Tot,LOB_Salvage_Tot
0,10012,0.0,0.00,0.0,121.98
1,24012,0.0,0.00,0.0,1152.57
2,36012,0.0,14.94,0.0,253.89
3,48012,0.0,119.98,0.0,6894.88
4,49012,0.0,49.99,0.0,2470.47
...,...,...,...,...,...
141456,375213012,0.0,0.00,0.0,25.00
141457,375214012,0.0,0.00,0.0,60.00
141458,375215012,0.0,0.00,0.0,16.99
141459,375216012,0.0,24.94,0.0,0.00
141460,375217012,0.0,0.00,0.0,9.99

In [48]:
df_customer_data  = pd.merge(df_customer_data, df_customer_lobs, left_on='CustomerID', right_on='CustomerID')
df_customer_data

,CustomerID,ZipCode,State,ArticCat_Tot,Bobcat_Tot,Can-Am_Tot,Honda_Tot,John-Deere_Tot,Kawasaki_Tot,Kubota_Tot,Other-Brand_Tot,Polaris_Tot,Suzuki_Tot,Yamaha_Tot,LOB_Misc_Tot,LOB_NOS-Rebuilt-Part_Tot,LOB_Rebuilt-Engines-Tot,LOB_Salvage_Tot
0,10012,49649,MI,0.0,0.0,121.98,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,121.98
1,24012,68713,NE,0.0,0.0,590.97,139.99,0.00,0.00,0.0,0.00,402.68,0.00,18.93,0.0,0.00,0.0,1152.57
2,36012,54460,WI,0.0,0.0,0.00,0.00,0.00,124.99,0.0,19.99,123.85,0.00,0.00,0.0,14.94,0.0,253.89
3,48012,91331,CA,0.0,0.0,499.93,1595.25,49.99,669.89,0.0,0.00,2629.71,44.99,1525.10,0.0,119.98,0.0,6894.88
4,49012,52070,IA,0.0,0.0,0.00,0.00,0.00,655.94,0.0,0.00,1664.53,199.99,0.00,0.0,49.99,0.0,2470.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141456,375213012,68701,NE,0.0,0.0,0.00,0.00,0.00,0.00,0.0,25.00,0.00,0.00,0.00,0.0,0.00,0.0,25.00
141457,375214012,70094,LA,0.0,0.0,0.00,60.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,60.00
141458,375215012,77990,TX,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,16.99,0.00,0.0,0.00,0.0,16.99
141459,375216012,42437,KY,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.00,24.94,0.00,0.00,0.0,24.94,0.0,0.00
141460,375217012,36116,AL,0.0,0.0,0.00,9.99,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,9.99

## Load Market CSV File and Merge to Customer Master

In [ ]:
# Load the customer lob dataset
file_path = "data/Customer_market.csv"
df_customer_market = pd.read_csv(file_path )
df_customer_market

In [50]:
df_customer_data  = pd.merge(df_customer_data, df_customer_market, left_on='CustomerID', right_on='CustomerID')
df_customer_data

,CustomerID,ZipCode,State,ArticCat_Tot,Bobcat_Tot,Can-Am_Tot,Honda_Tot,John-Deere_Tot,Kawasaki_Tot,Kubota_Tot,...,Suzuki_Tot,Yamaha_Tot,LOB_Misc_Tot,LOB_NOS-Rebuilt-Part_Tot,LOB_Rebuilt-Engines-Tot,LOB_Salvage_Tot,Mkt-Counter_Tot,Mkt-Other_Tot,Mkt-Website_Tot,Mkt-eBay_Tot
0,10012,49649,MI,0.0,0.0,121.98,0.00,0.00,0.00,0.0,...,0.00,0.00,0.0,0.00,0.0,121.98,0.0,0.0,0.00,121.98
1,24012,68713,NE,0.0,0.0,590.97,139.99,0.00,0.00,0.0,...,0.00,18.93,0.0,0.00,0.0,1152.57,0.0,0.0,1152.57,0.00
2,36012,54460,WI,0.0,0.0,0.00,0.00,0.00,124.99,0.0,...,0.00,0.00,0.0,14.94,0.0,253.89,0.0,0.0,0.00,268.83
3,48012,91331,CA,0.0,0.0,499.93,1595.25,49.99,669.89,0.0,...,44.99,1525.10,0.0,119.98,0.0,6894.88,0.0,0.0,0.00,7014.86
4,49012,52070,IA,0.0,0.0,0.00,0.00,0.00,655.94,0.0,...,199.99,0.00,0.0,49.99,0.0,2470.47,0.0,0.0,1496.84,1023.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141456,375213012,68701,NE,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.0,0.00,0.0,25.00,0.0,0.0,25.00,0.00
141457,375214012,70094,LA,0.0,0.0,0.00,60.00,0.00,0.00,0.0,...,0.00,0.00,0.0,0.00,0.0,60.00,0.0,0.0,0.00,60.00
141458,375215012,77990,TX,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,16.99,0.00,0.0,0.00,0.0,16.99,0.0,0.0,0.00,16.99
141459,375216012,42437,KY,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.0,24.94,0.0,0.00,0.0,0.0,24.94,0.00
141460,375217012,36116,AL,0.0,0.0,0.00,9.99,0.00,0.00,0.0,...,0.00,0.00,0.0,0.00,0.0,9.99,0.0,0.0,9.99,0.00

## Load RFM CSV File and Merge to Customer Master

In [51]:
# Load the customer lob dataset
file_path = "data/Customer_rfm.csv"
df_customer_rfm = pd.read_csv(file_path )
df_customer_rfm

,CustomerID,Recency,Frequency,Monetary,R,F,M,RFM Score,Segment
0,10012,636,3,121.98,1,5,4,154,can't loose
1,24012,50,11,1152.57,5,5,5,555,champions
2,36012,48,7,268.83,5,5,5,555,champions
3,48012,15,42,7014.86,5,5,5,555,champions
4,49012,43,14,2460.47,5,5,5,555,champions
...,...,...,...,...,...,...,...,...,...
141456,375213012,1,1,25.00,5,1,2,512,new customers
141457,375214012,1,1,60.00,5,1,3,513,new customers
141458,375215012,1,1,16.99,5,1,1,511,new customers
141459,375216012,1,1,24.94,5,1,2,512,new customers
141460,375217012,1,1,9.99,5,1,1,511,new customers

In [52]:
df_customer_data  = pd.merge(df_customer_data, df_customer_rfm, left_on='CustomerID', right_on='CustomerID')
df_customer_data

,CustomerID,ZipCode,State,ArticCat_Tot,Bobcat_Tot,Can-Am_Tot,Honda_Tot,John-Deere_Tot,Kawasaki_Tot,Kubota_Tot,...,Mkt-Website_Tot,Mkt-eBay_Tot,Recency,Frequency,Monetary,R,F,M,RFM Score,Segment
0,10012,49649,MI,0.0,0.0,121.98,0.00,0.00,0.00,0.0,...,0.00,121.98,636,3,121.98,1,5,4,154,can't loose
1,24012,68713,NE,0.0,0.0,590.97,139.99,0.00,0.00,0.0,...,1152.57,0.00,50,11,1152.57,5,5,5,555,champions
2,36012,54460,WI,0.0,0.0,0.00,0.00,0.00,124.99,0.0,...,0.00,268.83,48,7,268.83,5,5,5,555,champions
3,48012,91331,CA,0.0,0.0,499.93,1595.25,49.99,669.89,0.0,...,0.00,7014.86,15,42,7014.86,5,5,5,555,champions
4,49012,52070,IA,0.0,0.0,0.00,0.00,0.00,655.94,0.0,...,1496.84,1023.62,43,14,2460.47,5,5,5,555,champions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141456,375213012,68701,NE,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,25.00,0.00,1,1,25.00,5,1,2,512,new customers
141457,375214012,70094,LA,0.0,0.0,0.00,60.00,0.00,0.00,0.0,...,0.00,60.00,1,1,60.00,5,1,3,513,new customers
141458,375215012,77990,TX,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,0.00,16.99,1,1,16.99,5,1,1,511,new customers
141459,375216012,42437,KY,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,24.94,0.00,1,1,24.94,5,1,2,512,new customers
141460,375217012,36116,AL,0.0,0.0,0.00,9.99,0.00,0.00,0.0,...,9.99,0.00,1,1,9.99,5,1,1,511,new customers

## Write out Merge Customer Data File
> Need to merge additional demographics for this file. This file contains a single row with roll-up data into columns per customer

In [53]:
df_customer_data.to_csv('data/Customer_data_merged.csv',index=False)